*
!.github
!bin
!docs
!include
!lib
!mediapipe
!third_party
!.bazelrc
!.bazelversion
!.dockerignore
!.gitignore
!BUILD.bazel
!build_android_examples.sh
!build_desktop_examples.sh
!build_ios_examples.sh
!CONTRIBUTING.md
!Dockerfile
!LICENSE
!MANIFEST.in
!package.json
!platform_mappings
!README.md
!requirements.txt
!setup.py
!setup_android_sdk_and_ndk.sh
!setup_opencv.sh
!tsconfig.json
!WORKSPACE
!yarn.lock
